@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;0,800;1,500;1,600;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;0,600;0,800;1,500;1,600;1,900&display=swap');


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

:root {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

p {
    margin: 0;
}

#navigation-container {
    display: flex;
    height: 100px;
    gap: 90px;
    text-align: center;
    margin: 20px;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 600;
}

#navigation-container div {
    display: flex;
    align-items: center;
}

#navigation-container img {
    height: 100px;
    width: 100px;
}

#logo-container {
    display: flex;
    align-items: center;
}

#welcome-container {
    display: flex;
    height: 100px;
    font-size: 50px;
    font-weight: 600;
    margin-left: 25px;
    margin-bottom: 20px;
    align-items: center;
}

#products-display {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

#story-container {
    font-size: 26px;
    width: 40%;
    margin-left: 40px;
}

#story-container p {
    line-height: 1.35;
}

#story-container h3 {
    font-size: 60px;
    color: rgb(180, 34, 15);
}

#photo-container {
    position: relative;
    width: 60%;
    height: auto;
}

#photo-container img {
    border-radius: 15px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#overlay {
    color: rgb(180, 34, 15);
    font-size: min(15vw, 250px);
    font-weight: 700;
    position: absolute;
    bottom: 120px;
    left: 90px;
}

hr {
    margin-top: 40px;
    width: 100%;
    border: 1.5px solid black;


}

h3 {
    color: black    ;
    margin: 20px;
    font-weight: 700;
    font-size: 6.5vh;
    margin-bottom: 40px;
}

ol {
    padding: 0;
}

#menu-list {
    border-radius: 10px;
    background-color: #548042;
    border: 10px solid #548042;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

#menu-container p {
    color: whitesmoke;
    margin: 0;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 4.5vh;
    font-weight: 600;
}

#menu-list {
    display: flex;
}

#footer-elements-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#footer {
    margin: 20px;
    height: 200px;
    background-color: rgb(180, 34, 15);
    border-radius: 10px;
}

#upper-part {
    font-size: 30px;
    font-weight: 600;
    justify-content: center;
    display: flex;
    text-align: center;
}

#lower-part {
    height: 40%;
    margin-left: 40px;
    align-items: center;
    display: flex;
    justify-content: left;
}

#lower-part a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

#footer-elements-container {
    justify-content: center;
}